# ===========================================
#   Java / Spring Boot
# ===========================================
/target/
*.log
*.tmp

# ===========================================
#   IDEs
# ===========================================
/.idea/
/.vscode/
/.classpath
/.project
/.settings/

# ===========================================
#   OS files
# ===========================================
.DS_Store
Thumbs.db

# ===========================================
#   Environment / Secrets
# ===========================================
.env
.env-*
*.env
*.key
*.pem

# ===========================================
#   Docker
# ===========================================
/volumes/
/easeshop_db/
